#homePage{
    .top-rated-image{
       height:200px;
       width:100%;
    }
    .carousel-inner{
      width:100%;
      max-height: 200px !important;
    }
    .slide-title{
        color:white;
    }
    .top-rated-container{
        margin-top:30px;
    }
    .upcoming-movies-container{
        margin-top:30px;
    }
}