@import "~bootstrap/dist/css/bootstrap.min.css";
#full-container {
    background-image: url('../resources/images/header.jpg');
    padding-bottom: 15px;
    flex: 1 0 auto;
}

html,
body {
    min-width: 320px;
    font-size: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}